In [211]:
import pandas as pd
import requests

from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup

In [212]:
!which chromedriver

/usr/local/bin/chromedriver

In [213]:
#set executable path

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# nasa mars news site

In [214]:
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

In [215]:
#parse with BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [216]:
#extract article title and text
article = soup.find('div', class_='list_text')
news_title = article.find('div', class_='content_title').text
news_p = article.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

# jpl mars space images

In [217]:
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [218]:
#expand full size image
fullsize = browser.find_by_id("full_image")
fullsize.click()

#expand more info
browser.is_element_present_by_text("more info", wait_time=1)
moreinfo = browser.find_link_by_partial_text("more info")
moreinfo.click()

In [219]:
#parse with BeautifulSoup

html_image = browser.html
soup = BeautifulSoup(html_image, 'html.parser')

In [220]:
featured_image_url = soup.select_one("figure.lede a img").get("src")
featured_image_url

'/spaceimages/images/largesize/PIA19083_hires.jpg'

In [221]:
#combine base url with image url
featured_image_url = f"https://www.jpl.nasa.gov{img_url}"
print(featured_image_url)

https://www.jpl.nasa.govhttp://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

# mars weather

In [222]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [223]:
#use requests library to get tweet
response = requests.get(weather_url)
soup = BeautifulSoup(response.text, 'lxml')

In [224]:
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text.strip()
print(mars_weather)

InSight sol 480 (2020-04-02) low -93.0ºC (-135.5ºF) high -6.7ºC (19.9ºF)
winds from the SW at 5.8 m/s (13.1 mph) gusting to 17.2 m/s (38.5 mph)
pressure at 6.50 hPapic.twitter.com/8oUTHBmcXp

# mars facts

In [225]:
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)
html_url = browser.html

In [226]:
#retieve first table
mars_df = pd.read_html(facts_url)[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [227]:
#rename columns and set index
mars_df.columns=["Description", "Value"]
mars_df.set_index("Description", inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [228]:
#convert table to html string
mars_df.to_html('table.html')

# mars hemispheres

In [229]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)
html_hemispheres = browser.html

In [230]:
soup = BeautifulSoup(html_hemispheres, "html.parser")

In [231]:
#empty list for hemisphere image urls
hemisphere_image_urls = []

In [232]:
results = soup.find("div", class_ = "results" )

images = results.find_all("div", class_="item")

In [233]:
#looping through hemisphere images to extract urls abd titles

for image in images:
    title = image.find("h3").text
    title = title.replace("Enhanced", "")
    endlink = image.find("a")["href"]
    img_url = "https://astrogeology.usgs.gov/" + endlink
    
    browser.visit(img_url)
    html_links = browser.html
    soup = BeautifulSoup(html_links, "html.parser")
    downloads = soup.find("div", class_="downloads")
    img_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": img_url})

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]